<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>com.ideashin.attendance.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>ENCODING</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/controller/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>optFilter</filter-name>
        <filter-class>com.ideashin.attendance.filter.OptFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>optFilter</filter-name>
        <url-pattern>/controller/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>noteController</servlet-name>
        <servlet-class>com.ideashin.attendance.controller.NoteController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>noteController</servlet-name>
        <url-pattern>/controller/note/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>positionController</servlet-name>
        <servlet-class>com.ideashin.attendance.controller.PositionController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>positionController</servlet-name>
        <url-pattern>/controller/position/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>employeeController</servlet-name>
        <servlet-class>com.ideashin.attendance.controller.EmployeeController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>employeeController</servlet-name>
        <url-pattern>/controller/employee/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>departmentController</servlet-name>
        <servlet-class>com.ideashin.attendance.controller.DepartmentController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>departmentController</servlet-name>
        <url-pattern>/controller/department/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminController</servlet-name>
        <servlet-class>com.ideashin.attendance.controller.AdminController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminController</servlet-name>
        <url-pattern>/controller/admin/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>attendanceRecordController</servlet-name>
        <servlet-class>com.ideashin.attendance.controller.AttendanceRecordController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>attendanceRecordController</servlet-name>
        <url-pattern>/controller/attendanceRecord/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminPopedomController</servlet-name>
        <servlet-class>com.ideashin.attendance.controller.AdminPopedomController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminPopedomController</servlet-name>
        <url-pattern>/controller/adminPopedom/*</url-pattern>
    </servlet-mapping>
</web-app>